.canada,
.div13 {
  position: relative;
  line-height: 48px;
  font-weight: 500;
  display: inline-block;
  min-width: 64px;
}
.div13 {
  line-height: 34px;
  min-width: 34.5px;
}
.star-trust-pilot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 8px 3px 0;
  margin-left: -0.9px;
  font-size: 34px;
}
.star-trustpilotsvg-icon {
  width: 40px;
  height: 38px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.star-trustpilotsvg-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 30px 7.2px 0;
  margin-left: -0.9px;
}
.based-on-37000,
.customer-reviews-on {
  margin: 0;
}
.based-on-37000-container,
.trustpilot {
  position: relative;
  line-height: 22px;
}
.trustpilot {
  text-decoration: underline;
  font-weight: 500;
  display: inline-block;
  min-width: 69.4px;
}
.trust-pilot {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 4.8px;
}
.trust-pilot-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2px;
  margin-left: -0.9px;
  font-size: 16px;
}
.background43 {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f8f8fb;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 32px 312px;
  box-sizing: border-box;
  max-width: 100%;
  row-gap: 20px;
  z-index: 1;
  text-align: left;
  font-size: 44.6px;
  color: #292b2e;
  font-family: Roboto;
}
@media screen and (max-width: 1350px) {
  .background43 {
    flex-wrap: wrap;
    padding-left: 156px;
    padding-right: 156px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .canada {
    font-size: 36px;
    line-height: 38px;
  }
  .div13 {
    font-size: 27px;
    line-height: 27px;
  }
  .background43 {
    padding-left: 78px;
    padding-right: 78px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .canada {
    font-size: 27px;
    line-height: 29px;
  }
  .div13 {
    font-size: 20px;
    line-height: 20px;
  }
  .background43 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
