.lets-say-goodbye,
.travel-the-world {
  margin: 0;
}
.travel-the-world-container1 {
  width: 100%;
}
.travel-the-world-container {
  margin: 0;
  width: 454.2px;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.associated-with-physical-sim-c,
.by-using-esims-we-can-elimina {
  display: block;
}
.learn-more1 {
  text-decoration: underline;
  font-weight: 500;
  font-family: Roboto;
}
.distribution-learn-more {
  display: block;
}
.by-using-esims-container {
  margin: 0;
  flex: 1;
  position: relative;
  line-height: 22px;
}
.environmental-impact {
  width: 455px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 3px 0 1px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 16px;
  color: #000;
}
.image-icon11 {
  height: 24px;
  width: 30px;
  position: relative;
}
.heading-36 {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  line-height: 16.1px;
  font-family: Roboto;
  color: #000;
  text-align: center;
  display: inline-block;
  min-width: 74.7px;
}
.backgroundborder3,
.benefit-descriptions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.benefit-descriptions {
  flex: 1;
  flex-direction: column;
  padding: 3.9px 0 0;
}
.backgroundborder3 {
  cursor: pointer;
  border: 1px solid #292b2e;
  padding: 3px 11px;
  background-color: #fff;
  width: 129px;
  border-radius: 24px;
  box-sizing: border-box;
  flex-direction: row;
}
.image-icon12 {
  height: 24px;
  width: 30px;
  position: relative;
}
.heading-37 {
  position: relative;
  font-size: 14px;
  line-height: 17px;
  font-family: Roboto;
  color: #000;
  text-align: center;
  display: inline-block;
  min-width: 73px;
}
.heading-3-zero-hassle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 3.1px;
}
.backgroundborder4 {
  cursor: pointer;
  border: 1px solid #292b2e;
  padding: 3px 11px;
  background-color: #fff;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.image-icon13 {
  height: 24px;
  width: 30px;
  position: relative;
}
.heading-38 {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  line-height: 16.1px;
  font-family: Roboto;
  color: #000;
  text-align: center;
  display: inline-block;
  min-width: 92.3px;
}
.heading-3-zero-transport-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3.9px 0 0;
}
.backgroundborder5,
.benefit-items {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.backgroundborder5 {
  cursor: pointer;
  border: 1px solid #292b2e;
  padding: 3px 11px;
  background-color: #fff;
  border-radius: 24px;
  box-sizing: border-box;
  justify-content: flex-start;
  min-width: 96px;
}
.benefit-items {
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  max-width: 100%;
}
.background52,
.benefits1 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.benefits1 {
  width: 455px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 10px 0 9px;
}
.background52 {
  align-self: stretch;
  border-radius: 16px;
  flex-direction: column;
  align-items: center;
  padding: 35px 20px 35px 21px;
  gap: 27px;
  background-image: url(/public/background@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.link43 {
  height: 40px;
  width: 392px;
  max-width: 100%;
}
.buy-esim-button-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.background-parent1,
.travel-description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.background-parent1 {
  flex: 1;
  flex-direction: column;
  gap: 32px;
}
.travel-description {
  align-self: stretch;
  flex-direction: row;
  padding: 0 60px;
  box-sizing: border-box;
}
.heading-218 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 34px;
  font-weight: 500;
  font-family: inherit;
}
.find-helpful-information {
  margin: 0;
  flex: 1;
  position: relative;
  line-height: 22px;
}
.f-a-q-description {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 47px 0 46px;
  font-size: 16px;
  color: #292b2e;
}
.f-a-q-content,
.f-a-q-content-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.f-a-q-content {
  width: 451.3px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}
.f-a-q-content-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px 28px;
  box-sizing: border-box;
  text-align: center;
  font-size: 28px;
  color: #000;
}
.can-i-top {
  position: relative;
  line-height: 22px;
}
.vectorupsvg-icon {
  width: 8px;
  height: 5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.border11,
.f-a-q-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 5.5px;
}
.border11 {
  flex: 1;
  border-radius: 16px;
  border: 1px solid #e4e6ea;
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 23px 22px 23px 20px;
  min-width: 429px;
  max-width: 100%;
  gap: 20px;
}
.how-can-i1 {
  position: relative;
  line-height: 22px;
}
.vectorupsvg-icon1 {
  width: 8px;
  height: 5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.vectorupsvg-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 5.5px;
}
.border12,
.f-a-q-items-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.border12 {
  flex: 1;
  border-radius: 16px;
  border: 1px solid #e4e6ea;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
  padding: 23px 22px 23px 20px;
  min-width: 429px;
  gap: 20px;
}
.f-a-q-items-container {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}
.vectorupsvg-icon2,
.what-do-i {
  position: relative;
  flex-shrink: 0;
}
.what-do-i {
  margin: 0;
  width: 373.3px;
  line-height: 22px;
  display: flex;
  align-items: center;
  max-width: calc(100% - 28px);
}
.vectorupsvg-icon2 {
  width: 8px;
  height: 5px;
  overflow: hidden;
}
.border13,
.more-f-a-q-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 5.5px;
}
.border13 {
  flex: 1;
  border-radius: 16px;
  border: 1px solid #e4e6ea;
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 23px 22px 23px 20px;
  min-width: 429px;
  max-width: 100%;
  gap: 20px;
}
.can-i-use {
  position: relative;
  line-height: 22px;
}
.vectorupsvg-icon3 {
  width: 8px;
  height: 5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.even-more-f-a-q-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 5.5px;
}
.border14,
.more-f-a-q-items {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.border14 {
  flex: 1;
  border-radius: 16px;
  border: 1px solid #e4e6ea;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
  padding: 23px 22px 23px 20px;
  min-width: 429px;
  gap: 20px;
}
.more-f-a-q-items {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}
.do-i-have {
  position: relative;
  line-height: 22px;
}
.vectorupsvg-icon4 {
  width: 8px;
  height: 5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.border15,
.vectorupsvg-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 5.5px;
}
.border15 {
  flex: 1;
  border-radius: 16px;
  border: 1px solid #e4e6ea;
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 23px 22px 23px 20px;
  min-width: 429px;
  max-width: 100%;
  gap: 20px;
}
.how-can-i2 {
  position: relative;
  line-height: 22px;
}
.vectorupsvg-icon5 {
  width: 8px;
  height: 5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.vectorupsvg-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 5.5px;
}
.border16,
.more-f-a-q-items1 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.border16 {
  flex: 1;
  border-radius: 16px;
  border: 1px solid #e4e6ea;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
  padding: 23px 22px 23px 20px;
  min-width: 429px;
  gap: 20px;
}
.more-f-a-q-items1 {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}
.what-is-the {
  margin: 0;
  position: relative;
  line-height: 22px;
}
.vectorupsvg-icon6 {
  width: 8px;
  height: 5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.border17,
.vectorupsvg-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 5.5px;
}
.border17 {
  flex: 1;
  border-radius: 16px;
  border: 1px solid #e4e6ea;
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 23px 22px 23px 20px;
  min-width: 429px;
  max-width: 100%;
  gap: 20px;
}
.how-many-times {
  position: relative;
  line-height: 22px;
}
.vectorupsvg-icon7 {
  width: 8px;
  height: 5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.vectorupsvg-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 5.5px;
}
.border18,
.more-f-a-q-items2 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.border18 {
  flex: 1;
  border-radius: 16px;
  border: 1px solid #e4e6ea;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
  padding: 23px 22px 23px 20px;
  min-width: 429px;
  gap: 20px;
}
.more-f-a-q-items2 {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}
.can-i-keep {
  position: relative;
  line-height: 22px;
}
.vectorupsvg-icon8 {
  width: 8px;
  height: 5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.border19,
.vectorupsvg-wrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 5.5px;
}
.border19 {
  flex: 1;
  border-radius: 16px;
  border: 1px solid #e4e6ea;
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 23px 22px 23px 20px;
  min-width: 429px;
  max-width: 100%;
  gap: 20px;
}
.how-can-i3 {
  position: relative;
  line-height: 22px;
}
.vectorupsvg-icon9 {
  width: 8px;
  height: 5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.vectorupsvg-wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 5.5px;
}
.border20,
.more-f-a-q-items3 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.border20 {
  flex: 1;
  border-radius: 16px;
  border: 1px solid #e4e6ea;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
  padding: 23px 22px 23px 20px;
  min-width: 429px;
  gap: 20px;
}
.more-f-a-q-items3 {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}
.when-will-i {
  position: relative;
  line-height: 22px;
}
.vectorupsvg-icon10 {
  width: 8px;
  height: 5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.border21,
.vectorupsvg-wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 5.5px;
}
.border21 {
  flex: 1;
  border-radius: 16px;
  border: 1px solid #e4e6ea;
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 23px 22px 23px 20px;
  min-width: 429px;
  max-width: 100%;
  gap: 20px;
}
.when-should-i1 {
  position: relative;
  line-height: 22px;
}
.vectorupsvg-icon11 {
  width: 8px;
  height: 5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.vectorupsvg-wrapper6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 5.5px;
}
.border22,
.more-f-a-q-items4 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.border22 {
  flex: 1;
  border-radius: 16px;
  border: 1px solid #e4e6ea;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
  padding: 23px 22px 23px 20px;
  min-width: 429px;
  gap: 20px;
}
.more-f-a-q-items4 {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}
.what-smartphones-have {
  position: relative;
  line-height: 22px;
}
.vectorupsvg-icon12 {
  width: 8px;
  height: 5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.border23,
.vectorupsvg-wrapper7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 5.5px;
}
.border23 {
  flex: 1;
  border-radius: 16px;
  border: 1px solid #e4e6ea;
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 23px 22px 23px 20px;
  min-width: 429px;
  max-width: 100%;
  gap: 20px;
}
.how-do-i {
  position: relative;
  line-height: 22px;
}
.vectorupsvg-icon13 {
  width: 8px;
  height: 5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.border24,
.vectorupsvg-wrapper8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 5.5px;
}
.border24 {
  flex: 1;
  border-radius: 16px;
  border: 1px solid #e4e6ea;
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 23px 22px 23px 20px;
  min-width: 429px;
  max-width: 100%;
  gap: 20px;
}
.more-f-a-q-items-container,
.more-f-a-q-items5 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.more-f-a-q-items5 {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.more-f-a-q-items-container {
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}
.is-the-samsung2 {
  position: relative;
  line-height: 22px;
}
.vectorupsvg-icon14 {
  width: 8px;
  height: 5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.border25,
.last-f-a-q-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 5.5px;
}
.border25 {
  flex: 1;
  border-radius: 16px;
  border: 1px solid #e4e6ea;
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 23px 22px 23px 20px;
  min-width: 429px;
  max-width: 100%;
  gap: 20px;
}
.can-i-share {
  position: relative;
  line-height: 22px;
}
.vectorupsvg-icon15 {
  width: 8px;
  height: 5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.last-f-a-q-icons-continued {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 5.5px;
}
.border26,
.last-f-a-q-items {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.border26 {
  flex: 1;
  border-radius: 16px;
  border: 1px solid #e4e6ea;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
  padding: 23px 22px 23px 20px;
  min-width: 429px;
  gap: 20px;
}
.last-f-a-q-items {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.when-do-the {
  margin: 0;
  width: 362.7px;
  position: relative;
  line-height: 22px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: calc(100% - 28px);
}
.vectorupsvg-icon16 {
  width: 8px;
  height: 5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.border27,
.vectorupsvg-wrapper9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 5.5px;
}
.border27 {
  flex: 1;
  border-radius: 16px;
  border: 1px solid #e4e6ea;
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 23px 22px 23px 20px;
  min-width: 429px;
  max-width: 100%;
  gap: 20px;
}
.how-much-data {
  position: relative;
  line-height: 22px;
}
.vectorupsvg-icon17 {
  width: 8px;
  height: 5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.border28,
.vectorupsvg-wrapper10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 5.5px;
}
.border28 {
  flex: 1;
  border-radius: 16px;
  border: 1px solid #e4e6ea;
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 23px 22px 23px 20px;
  min-width: 429px;
  max-width: 100%;
  gap: 20px;
}
.f-a-q,
.last-f-a-q-items-container,
.last-f-a-q-items1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.last-f-a-q-items1 {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}
.f-a-q,
.last-f-a-q-items-container {
  flex-direction: column;
  gap: 12px;
}
.f-a-q {
  align-items: flex-end;
  text-align: left;
  font-size: 16px;
}
.footer-content,
.responsible-travel {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.responsible-travel {
  width: 1344px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 100px;
}
.footer-content {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 22px;
  color: #292b2e;
  font-family: Roboto;
}
@media screen and (max-width: 1350px) {
  .travel-description {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .background-parent1 {
    gap: 16px;
  }
  .border11,
  .border12,
  .border13,
  .border14,
  .border15,
  .border16,
  .border17,
  .border18,
  .border19,
  .border20,
  .border21,
  .border22,
  .border23,
  .border24,
  .border25,
  .border26,
  .border27,
  .border28 {
    min-width: 100%;
  }
  .responsible-travel {
    gap: 50px;
  }
}
@media screen and (max-width: 450px) {
  .travel-the-world-container {
    font-size: 18px;
    line-height: 22px;
  }
  .link43 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .heading-218 {
    font-size: 22px;
    line-height: 27px;
  }
  .f-a-q-description {
    padding-left: 23px;
    padding-right: 23px;
    box-sizing: border-box;
  }
  .responsible-travel {
    gap: 25px;
  }
}
